<div id="<%= dom_id league %>">
  <p>
    <strong>Seasons:</strong>
    <%= league.seasons %>
  </p>

  <p>
    <strong>League api:</strong>
    <%= league.league_api_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= league.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= league.type %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= league.logo %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= league.country_code %>
  </p>

</div>
