<div id="<%= dom_id fixture %>">
  <p>
    <strong>Fixture api:</strong>
    <%= fixture.fixture_api_id %>
  </p>

  <p>
    <strong>Referee:</strong>
    <%= fixture.referee %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= fixture.timezone %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= fixture.date %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= fixture.timestamp %>
  </p>

  <p>
    <strong>Periods first:</strong>
    <%= fixture.periods_first %>
  </p>

  <p>
    <strong>Periods second:</strong>
    <%= fixture.periods_second %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= fixture.venue_id %>
  </p>

  <p>
    <strong>Venue name:</strong>
    <%= fixture.venue_name %>
  </p>

  <p>
    <strong>Venue city:</strong>
    <%= fixture.venue_city %>
  </p>

  <p>
    <strong>Status long:</strong>
    <%= fixture.status_long %>
  </p>

  <p>
    <strong>Status short:</strong>
    <%= fixture.status_short %>
  </p>

  <p>
    <strong>Status elapsed:</strong>
    <%= fixture.status_elapsed %>
  </p>

  <p>
    <strong>League api:</strong>
    <%= fixture.league_api_id %>
  </p>

  <p>
    <strong>Teams home api:</strong>
    <%= fixture.teams_home_api_id %>
  </p>

</div>
