<%= form_with(model: fixture) do |form| %>
  <% if fixture.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fixture.errors.count, "error") %> prohibited this fixture from being saved:</h2>

      <ul>
        <% fixture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fixture_api_id, style: "display: block" %>
    <%= form.number_field :fixture_api_id %>
  </div>

  <div>
    <%= form.label :referee, style: "display: block" %>
    <%= form.text_field :referee %>
  </div>

  <div>
    <%= form.label :timezone, style: "display: block" %>
    <%= form.text_field :timezone %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :timestamp, style: "display: block" %>
    <%= form.number_field :timestamp %>
  </div>

  <div>
    <%= form.label :periods_first, style: "display: block" %>
    <%= form.text_field :periods_first %>
  </div>

  <div>
    <%= form.label :periods_second, style: "display: block" %>
    <%= form.text_field :periods_second %>
  </div>

  <div>
    <%= form.label :venue_id, style: "display: block" %>
    <%= form.number_field :venue_id %>
  </div>

  <div>
    <%= form.label :venue_name, style: "display: block" %>
    <%= form.text_field :venue_name %>
  </div>

  <div>
    <%= form.label :venue_city, style: "display: block" %>
    <%= form.text_field :venue_city %>
  </div>

  <div>
    <%= form.label :status_long, style: "display: block" %>
    <%= form.text_field :status_long %>
  </div>

  <div>
    <%= form.label :status_short, style: "display: block" %>
    <%= form.text_field :status_short %>
  </div>

  <div>
    <%= form.label :status_elapsed, style: "display: block" %>
    <%= form.text_field :status_elapsed %>
  </div>

  <div>
    <%= form.label :league_api_id, style: "display: block" %>
    <%= form.number_field :league_api_id %>
  </div>

  <div>
    <%= form.label :teams_home_api_id, style: "display: block" %>
    <%= form.number_field :teams_home_api_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
