<div id="<%= dom_id team_stat %>">
  <p>
    <strong>Offsides:</strong>
    <%= team_stat.offsides %>
  </p>

  <p>
    <strong>Games minutes:</strong>
    <%= team_stat.games_minutes %>
  </p>

  <p>
    <strong>Games number:</strong>
    <%= team_stat.games_number %>
  </p>

  <p>
    <strong>Games position:</strong>
    <%= team_stat.games_position %>
  </p>

  <p>
    <strong>Games rating:</strong>
    <%= team_stat.games_rating %>
  </p>

  <p>
    <strong>Games captain:</strong>
    <%= team_stat.games_captain %>
  </p>

  <p>
    <strong>Games substitute:</strong>
    <%= team_stat.games_substitute %>
  </p>

  <p>
    <strong>Shots total:</strong>
    <%= team_stat.shots_total %>
  </p>

  <p>
    <strong>Shots on:</strong>
    <%= team_stat.shots_on %>
  </p>

  <p>
    <strong>Goals total:</strong>
    <%= team_stat.goals_total %>
  </p>

  <p>
    <strong>Goals conceded:</strong>
    <%= team_stat.goals_conceded %>
  </p>

  <p>
    <strong>Goals assists:</strong>
    <%= team_stat.goals_assists %>
  </p>

  <p>
    <strong>Goals saves:</strong>
    <%= team_stat.goals_saves %>
  </p>

  <p>
    <strong>Passes total:</strong>
    <%= team_stat.passes_total %>
  </p>

  <p>
    <strong>Passes key:</strong>
    <%= team_stat.passes_key %>
  </p>

  <p>
    <strong>Passes accuracy:</strong>
    <%= team_stat.passes_accuracy %>
  </p>

  <p>
    <strong>Tackles total:</strong>
    <%= team_stat.tackles_total %>
  </p>

  <p>
    <strong>Tackles blocks:</strong>
    <%= team_stat.tackles_blocks %>
  </p>

  <p>
    <strong>Tackles interceptions:</strong>
    <%= team_stat.tackles_interceptions %>
  </p>

  <p>
    <strong>Duels total:</strong>
    <%= team_stat.duels_total %>
  </p>

  <p>
    <strong>Duels won:</strong>
    <%= team_stat.duels_won %>
  </p>

  <p>
    <strong>Dribbles attempts:</strong>
    <%= team_stat.dribbles_attempts %>
  </p>

  <p>
    <strong>Dribbles success:</strong>
    <%= team_stat.dribbles_success %>
  </p>

  <p>
    <strong>Dribbles past:</strong>
    <%= team_stat.dribbles_past %>
  </p>

  <p>
    <strong>Fouls drawn:</strong>
    <%= team_stat.fouls_drawn %>
  </p>

  <p>
    <strong>Fouls committed:</strong>
    <%= team_stat.fouls_committed %>
  </p>

  <p>
    <strong>Cards yellow:</strong>
    <%= team_stat.cards_yellow %>
  </p>

  <p>
    <strong>Cards red:</strong>
    <%= team_stat.cards_red %>
  </p>

  <p>
    <strong>Penalty won:</strong>
    <%= team_stat.penalty_won %>
  </p>

  <p>
    <strong>Penalty commited:</strong>
    <%= team_stat.penalty_commited %>
  </p>

  <p>
    <strong>Penalty scored:</strong>
    <%= team_stat.penalty_scored %>
  </p>

  <p>
    <strong>Penalty missed:</strong>
    <%= team_stat.penalty_missed %>
  </p>

  <p>
    <strong>Penalty saved:</strong>
    <%= team_stat.penalty_saved %>
  </p>

  <p>
    <strong>Player api:</strong>
    <%= team_stat.player_api_id %>
  </p>

  <p>
    <strong>Team api:</strong>
    <%= team_stat.team_api_id %>
  </p>

  <p>
    <strong>Fixture api:</strong>
    <%= team_stat.fixture_api_id %>
  </p>

</div>
