<p style="color: green"><%= notice %></p>

<%= render @team_stat %>

<div>
  <%= link_to "Edit this team stat", edit_team_stat_path(@team_stat) %> |
  <%= link_to "Back to team stats", team_stats_path %>

  <%= button_to "Destroy this team stat", @team_stat, method: :delete %>
</div>
