<div id="<%= dom_id team_event %>">
  <p>
    <strong>Type:</strong>
    <%= team_event.type %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= team_event.detail %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= team_event.comments %>
  </p>

  <p>
    <strong>Time elapsed:</strong>
    <%= team_event.time_elapsed %>
  </p>

  <p>
    <strong>Time extra:</strong>
    <%= team_event.time_extra %>
  </p>

  <p>
    <strong>Fixture api:</strong>
    <%= team_event.fixture_api_id %>
  </p>

  <p>
    <strong>Team api:</strong>
    <%= team_event.team_api_id %>
  </p>

  <p>
    <strong>Player api:</strong>
    <%= team_event.player_api_id %>
  </p>

  <p>
    <strong>Assist player api:</strong>
    <%= team_event.assist_player_api_id %>
  </p>

</div>
