<p style="color: green"><%= notice %></p>

<%= render @team_event %>

<div>
  <%= link_to "Edit this team event", edit_team_event_path(@team_event) %> |
  <%= link_to "Back to team events", team_events_path %>

  <%= button_to "Destroy this team event", @team_event, method: :delete %>
</div>
