<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :player_api_id, style: "display: block" %>
    <%= form.number_field :player_api_id %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :commun_name, style: "display: block" %>
    <%= form.text_field :commun_name %>
  </div>

  <div>
    <%= form.label :positioon, style: "display: block" %>
    <%= form.text_field :positioon %>
  </div>

  <div>
    <%= form.label :team_api_id, style: "display: block" %>
    <%= form.number_field :team_api_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
