<div id="<%= dom_id player %>">
  <p>
    <strong>Player api:</strong>
    <%= player.player_api_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= player.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= player.last_name %>
  </p>

  <p>
    <strong>Commun name:</strong>
    <%= player.commun_name %>
  </p>

  <p>
    <strong>Positioon:</strong>
    <%= player.positioon %>
  </p>

  <p>
    <strong>Team api:</strong>
    <%= player.team_api_id %>
  </p>

</div>
